---
layout: default-grey
---

<div class="home">
  {% for post in paginator.posts %}
    <!-- category and tags -->
    {% assign category = site.my_categories | where: "slug", post.category %}
      {% assign category = category[0] %}
      {% if category %}
        {% capture category_content %}<a class="category" href="{{ category.url | prepend: site.baseurl }}">{{ category.name }}</a>{% endcapture %}
      {% endif %}

      {% if post.tags.size > 0 %}
        {% capture tags_content %} with <i class="fa fa-tags" aria-hidden="true"></i> {% endcapture %}
        {% for post_tag in post.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
          {% if tag %}
            {% assign tag = tag[0] %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url | prepend: site.baseurl }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}
      {% endif %}

    <div class="post-entry">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">
        {% if post.author %}
          <span><a class="post-meta-link" href="{{ site.baseurl }}/{{ post.about-author }}"><img class="profile-sm" src="{{ site.baseurl }}/assets/images/{{ post.author-pic }}"> {{ post.author }}</span></a> ·
        {% endif %}
        {{ post.date | date: "%b %-d, %Y" }} ·
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
          {{ words | divided_by: 180 }} mins
        {% endif %} read
        {% if category_content or tags_content %} · Posted{% endif %}
        {% if category_content %} in {{ category_content }}{% endif %}{{ tags_content }}
      </span>
      <a class="post-meta-link" href="{{ post.url | prepend: site.baseurl }}">
        {% if post.cover-photo %}
          <img class="cover-photo" src="{{ site.baseurl }}/assets/images/{{ post.cover-photo }}">
        {% endif %}
        <p>{{ post.excerpt | truncatewords:75 }}</p>
      </a>
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    {% else %}
      <span class="previous"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {% else %}
      <span class="next "><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    {% endif %}
  </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
