---
layout: default-grey
---

<div class="home">
  {% for post in paginator.posts %}
    <div class="post-entry">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">
        Posted on {{ post.date | date: "%b %-d, %Y" }} •
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
          {{ words | divided_by: 180 }} mins
        {% endif %} read
      </span>
      <a class="post-meta-link" href="{{ post.url | prepend: site.baseurl }}">
        {% if post.cover-photo %}
          <img class="cover-photo" src="{{ post.cover-photo }}">
        {% endif %}
        <p>{{ post.excerpt | truncatewords:75 }}</p>
      </a>
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    {% else %}
      <span class="previous"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {% else %}
      <span class="next "><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    {% endif %}
  </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
